/* _sass/variables-hook.scss */
$sidebar-bg:            rgba(24,24,24,.80);
$sidebar-hover-bg:      rgba(255,255,255,.07);
$sidebar-border-color:  rgba(255,255,255,.05);
$sidebar-active-color:  #ffffff;
$sidebar-btn-bg:        rgba(255,255,255,.10);
